body {
	background: black;
	text-align: center;
}

h1 {
	font-family: 'Nosifer', cursive;
	color: red;
}

h1, h2, h3 {
	padding: 20px;
}

.main {
	height: 500px;
	background: white;
	color: black;

}

.holder {
	height: 50px;
}

#word-container {
	letter-spacing: 5px;
	text-transform: uppercase;
}

#noose {
	position:absolute; 
	top: -180px; 
	left: 100px; 
	height: 300px;
}

#game-over {
	display: none;
	z-index: 1;
}

#surprise {
	display: none;
	z-index: 2;
}

